// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  font-family: "open", sans-serif;
  font-weight: lighter;
}

h1 {
  color: grey;
}

a {
  text-decoration: none;
}

